.error-message {
    color: red;
}

img {
    width: 150px;
    height: 100px;
}

#africa {
    color: blue;
}

#americas {
    color: green;
}

#asia {
    color: red;
}

#europe {
    color: yellow;
}

#oceania {
    color: purple;
}